version: '3.8'

services:
  frontend:
    build: .
    ports:
      - "3000:3000"
    restart: always
    environment:
      - NUXT_PUBLIC_API_BASE=http://backend:4000
  mqtt:
    image: eclipse-mosquitto:latest
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
